body {
	background-color: #edeff1;
	font-family: sans-serif;
}

h1 {
	border-style: solid;
	color: white;
	background: #37474f;
	height: 70px;
	padding-top: 45px;
	padding-left: 20px;
}

.layout {
	border: 2px;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.left {
	width: 50%;
	/*margin-left: 40px;*/
}

.intro {
	padding-left: 20px;
}

.hover {
	display: none;
}

p:hover .hover {
	display: inline-block;
}

a {
	position: relative;
	display: inline-block;
	color: black;
}

a[title]:hover:after {
	content: attr(title);
	position: absolute;
	top: 100%;
	left: 0;
}

tr {
	padding-left: 20px;
}

img {
	height: 100%;
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 20px;
}

p.underText {
	padding-top: 20px;
	padding-left: 10px;
	background: white;
	height: 90px;
	transform: translate(0, -20px);
}

.textbookFloat {
	transition: all 0.7s;
	display: flex;
	flex-direction: column;
	background: #fff;
}

.textbookFloat:hover {
	box-shadow: 3px 3px grey;

	.hiddenText {
		color: white;
		border-style: solid;
		background: orange;
		border-radius: 10px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
}

.hiddenText {
	transition: all 0.7s;
	color: black;
}

h2.mainMenu {
	color: rgb(179, 8, 8);
}
