body {
	background-color: #edeff1;
	font-family: sans-serif;
}

h1 {
	border-style: solid;
	color: white;
	background: #37474f;
	height: 70px;
	padding-top: 45px;
	padding-left: 20px;
}

.layout {
	border: 2px;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.left {
	width: 50%;
	/*margin-left: 40px;*/
}

.intro {
	padding-left: 20px;
}

.hover {
	display: none;
}

p:hover .hover {
	display: inline-block;
}

a {
	position: relative;
	display: inline-block;
	color: black;
}

a[title]:hover:after {
	content: attr(title);
	position: absolute;
	top: 100%;
	left: 0;
}

tr {
	padding-left: 20px;
}

img {
	height: 100%;
	width: 100%;
}

.columnGap {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;

	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	/* Specifying Column Gap */
}

p.underText {
	padding-top: 20px;
	padding-left: 10px;
	background: white;
	height: 90px;
	transform: translate(0, -20px);
}

span.hiddenText{
    display: none;   
}

.textbookFloat:hover, 
.hiddenText:hover {
	transition: all .7s;
	width: 100%;
	height: 100%;
	margin: 0px;
	border-radius: 1px;
	background: #fff;
	box-shadow: 3px 3px;
    box-shadow: grey;
        .hiddenText{
            transition: all .7s;
            color: white;
            display: inline;
            border-style: solid;
            background: orange;
            border-radius: 10px;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
}

/*.hiddenText:hover {
    color: white;
    border-style: solid;
    background: orange;
    border-radius: 10px;
    padding-top: 10px;
	padding-left: 10px;
    padding-right: 10px;
	padding-bottom: 10px;
    transition: .7s;
}
*/


h2.mainMenu {
	color: rgb(179, 8, 8);
}

